.layout-transparent {
  background: url('hands.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.slogan-section {
	background-image: url(hands.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #f3f3f3;
	width: 100%;
	position: relative;
	overflow-y: hidden;
}

.slogan-section h2 {
	color: whitesmoke;
	font-weight: 700;
	opacity: .7;
	margin-top: 7vh;
	font-size: 7rem;
	line-height: 2ch;
	padding-bottom: 13vh;
	text-align: left;
	padding-left: 1ch;
}



.slogan-section h3 {
	color: whitesmoke;
	font-weight: 700;
	opacity: .7;
	margin-top: 3vh;
	font-size: 5rem;
	line-height: 2ch;
	text-align: right;
	padding-top: 20vh;
	padding-bottom: 2vh;
	padding-right: 1ch;
}


.philosophy {
	padding-top: 7ch;
	padding-bottom: 6ch;
	background-color: #f7f4ea;
}

.philosophy blockquote {
	max-width: 60ch;
	margin: 0 auto;
	font-size: 2rem;
	line-height: 1.5;
	text-align: center;
}

.process-intro {
	background-color: #fff;
	padding-top: 10vh;
	padding-bottom: 5vh;
}

.process-intro h2 {
	margin: 0 auto;
}

.process-intro p {
	margin: 0 auto;
	padding-top: 2vh;
}

img {
	padding: 0;
	margin: 0;
}



.step-one {
	background-color: #fff;
	padding-top: 0;
	padding-bottom: ch;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

.step-one p {
	max-width: 60ch;
}


.step-two {
	background-color: #f3f3f3;
	text-align: right;
}


/*.step-two p {
	max-width: 60ch;
}
*/

.rightpls {
	max-width: 60ch
}

.step-three {
	background-color: #f7f4ea;
	padding-top: 0;
	padding-bottom: ch;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

.step-three p {
	max-width: 60ch;
}

.desktop-centered {
	margin-left: auto;
	margin-right: auto;
	max-width: 120ch;
}

.mdl-navigation__link {
	font-size: 16px;
}

.mdl-button {
	border-color: blue;
	color: blue;
	display: block;
}

.mdl-layout__header .mdl-layout__drawer-button {
	position: absolute;
	color: rgb(255, 255, 255);
	background-color: transparent;
}

.opaque-navbar {
    background-color: transparent;
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: hotpink;
    height: 60px;
    transition: background-color .5s ease 0s;
}