

h1 {
	font-size: calc(3.375 * (.75rem + 1vw));
	line-height: 2ch;
}

h2 {
	font-size: calc(2.25 * (.7rem + .5vh));
	line-height: 2ch;
}


p {
	max-width: 60ch;
	font-size: calc(.7rem + .5vh);
}

.layout-transparent {
	
}

.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
	/* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
	color: #F2424D;
	background-color: #FFFFFF;
}

header {
	height: 7vh;
}

.mdl-layout__title {
	1font-family: 'Sura', serif;
	font-size: calc(1.5*(.75rem + 1vw));
}

.mdl-layout__header-row .mdl-navigation__link {
	1font-family: 'Sura', serif;
	font-size: calc(0.667 *(.75rem + 1vw));
	color: #1a1a1a;
}

.navSmall {
	1font-family: 'Sura', serif;
	font-size: calc(1 *(.75rem + 1vw));
}

.slogan {
	background-image: url(twoface.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 80vh;
	width: 100%;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}

.whole-slogan {
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.slogan h1 {
	color: whitesmoke;
	1font-family: 'Oswald';
	font-weight: normal;
	opacity: .7;
	line-height: 2ch;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
	color: whitesmoke;
	background-color: #F2424D;
	text-transform: none;
}


.slogan .slogan-cta {
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-160%);
	text-align: center;
}

.slogan .slogan-cta button {
	font-size: 25px;
	width: 15ch;
	height: 3ch;
	
}

.mdl-button {
	background-color: #FF5722;
}

.philosophy {
	background-color: #FFFFFF;
}

.philosophy h2, .philosophy p {
	color: #333;
}

.philosophy h2 {
	margin: auto;
	transform: translateY(50%);
	text-align: center;
}

.services {
	background-color: #F6F7F2;
}

.services h2, .services p {
	margin-left: auto;
	margin-right: auto;
	max-width: 60ch;
	text-align: center;
}

.lists {
	margin-left: auto;
	margin-right: auto;
	max-width: 130ch;
}


.first-list{
	float: left;
	max-width: 60ch;
	text-align: right;
}

.second-list{
	float: right;
	max-width: 60ch;
	text-align: left;
}

.lists dd {
	margin: 0;
}

.process {
	background-color: #F8D9D5;
}

.contact {
	background-color: #F6F6F6;
}

.price-quote p {
	text-align: center;
	margin: 0 auto;
	max-width: 60ch;
}


.contact-info p {
	max-width: 30ch;
	margin: auto; 
}

.more-info p {
	margin: auto;
	max-width: 40ch;
}


.contact {
	background-color: #F6F6F6;
	height: 70vh;
	color: #1A1A1A;
}

.contact h2 {
	text-align: center;
}

footer {
	border-top: 1px dashed pink;
	background-color: #1a1a1a;
	padding-top: 7px;
	
}

footer p {
	font-size: 15px;
	color: beige;
		
}
.copyright {
	padding-left: 5vw;
	text-align: left;
}

