html,
body {
	font-size: 16px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.14rem;
}

h3 {
	font-size: 1.07rem;
}

p {
	font-size: 1rem;
}

@media screen and (min-width: 20rem) {
	h1 {
		font-size: calc(2rem + 2 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	h1 {
		font-size: 4rem;
		font-weight: 300;
		letter-spacing: -2px;
		line-height: 5rem;
	}
}

@media screen and (min-width: 20rem) {
	h2 {
		font-size: calc(1.14rem + 2.36 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	h2 {
		font-size: 3.5rem;
	}
}

@media screen and (min-width: 30rem) {
	h3 {
		font-size: calc(1.07rem + 0.18 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	h3,
	{
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 30rem) {
	p {
		font-size: calc(1rem + 0.125 * ((100vw - 20rem) / 60));
	}
}

@media screen and (min-width: 80rem) {
	p {
		font-size: 1.125rem;
	}
}

.layout-transparent .mdl-layout__header {
	color: #fff;
	background-color: #1a1a1a;
}

.layout-transparent .mdl-layout__drawer-button {
	color: #FF1744;
}

.mdl-layout__title {
	font-size: calc(1.2* (.75rem + 1vw));
}

a.mdl-navigation__link {
	1font-size: calc(0.667 *(.75rem + 1vw));
	color: #ffffff;
}

a.mdl-navigation__link:hover {
	color: #17FF3F;
	opacity: 1;
}

.navSmall {
	1font-size: calc(1 *(.75rem + 1vw));
}

.hero {
	background-image: url(hero.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	1background-color: #E7E3E2;
	height: calc(.85 * (100vh - 64px));
	width: 100%;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}

.saimon, .sean {
	height: 100%;
}
.heroes img {
	width: auto;
    height: auto;
}

.sean .hero-image {
	background-image: url(sean.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 100%;
}

.slogan {
	height: 14ch;
	position: relative;
	top: 50%;
}

.slogan h1 {
	margin: auto;
	width: 20ch;
	text-align: center;
	background-color: #1a1a1a;
	color: lightgrey;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised,
.mdl-button--accent.mdl-button--accent.mdl-button--fab {
	background-color: #FF1744;
}

.hero .slogan-cta {
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-160%);
	text-align: center;
}

.hero .slogan-cta .mdl-button {
	width: auto;
}

.philosophy {
	background-color: #1a1a1a;
	height: calc(.15 * (100vh - 64px));
	text-align: center;
	color: #f6f6f6;
}

.philosophy p {
	padding-top: calc(.45 * .15 * (100vh - 64px) - 1ch);
	margin: 0 auto;
	max-width: 60ch;
	font-size: 1.5rem;
}

.promises {
	background-color: #f6f6f6;
	height: auto;
}

.promise-cards {
	padding-top: 30px;
	padding-bottom: 30px;
}

.promise-cards .mdl-cell {
	height: 20ch;
}

.promises h3,
.promises .mdl-card__supporting-text {
	margin-left: auto;
	margin-right: auto;
	max-width: 40ch;
	text-align: center;
	padding-top: 1ch;
	padding-bottom: ch;
}

.promises h3{
	text-transform: uppercase;
	color: #00b21f;
	font-weight: 400;
}

.promises .mdl-card{
	max-width: 60ch;
	margin-left: auto;
	margin-right: auto;
}


.profiles {
	height: calc(.8 * (100vh - 64px));
	background-color: #fcfcfc;
	background-image: url(sa)
}

.portfolio .text {
	background-image: url(portfolio.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	width: 100%;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
	text-align: right;
	
}

.portfolio h2, .portfolio h3 {
	padding-right: 15vw;
}




.services {
	background-color: #fff;
	height: auto;
}

.services h2,
.services p {
	margin-left: auto;
	margin-right: auto;
	max-width: 60ch;
	text-align: center;
}

.services .mdl-list__item-icon,
.services .mdl-list__item-icon.material-icons {
	font-size: 2rem;
	color: #FF1744;
}

.mdl-list__item-text-body {
	max-width: 60ch;
	text-indent: 0
}

.lists ul {
	margin-left: auto;
	margin-right: auto;
	max-width: 60ch;
	padding: 0;
}

.if-there {
	margin: 0 auto;
}

.process {
	background-color: #f6f6f6;
	height: auto;
	padding: 3vw;
	text-align: center;
}

.process h3 {
	padding-top: 1.5ch;
	margin: 0 auto;
	font-size: calc(2 * (1.07rem + 0.18 * ((100vw - 20rem) / 60)));
	color: #FF1744;
}

.process .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 4rem;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: #FF1744;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	padding-bottom: 1ch;
	padding-left: 40%;
}

.mdl-card__supporting-text {
	max-width: 60ch;
	padding-bottom: 3ch;
}

.faq {
	background-color: #f6f6f6;
	color: #1a1a1a;
	padding-top: 0;
	padding-bottom: 5ch;
}

.faq-button h2 {
	margin: auto;
	text-align: center;
	width: auto;
	font-size: 2em;
	color: #00b21f;
}

.faq .mdl-button {
	height: auto;
}

.faq-button {
	cursor: pointer;
	display: block;
	background: #f6f6f6;
	border: 2px solid #00b21f;
	max-width: 40ch;
	margin: auto;
}

.faq-button + input {
	display: none;
	/* hide the checkboxes */
}

.faq-button + input + .questions-list {
	display: none;
}

.faq-button + input:checked + .questions-list {
	display: block;
}

.faq-button span {
	display: inline-block;
}

.question {
	cursor: pointer;
	display: block;
	background: #f6f6f6;
	max-width: 60ch;
}

.question + input {
	display: none;
	/* hide the checkboxes */
}

.question + input + .answer {
	display: none;
}

.question + input:checked + .answer {
	display: block;
}



.faq .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	color: #FF1744;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

.price-quote-and-contact {
	background-color: #1a1a1a;
	color: #F6F6F6;
	padding-top: 7ch;
	padding-bottom: 5ch;
}

.price-quote {
	padding-bottom: 10ch;
}

.price-quote h2 {
	text-align: center;
}

.price-quote h3 {
	text-align: center;
	margin: 0 auto;
	max-width: 60ch;
}

.contact-info {
	max-width: 40ch;
	margin: auto;
	padding-bottom: 8ch
}

.contact-info .mdl-list__item {
	color: #F6F6F6;
}

.contact-info .mdl-list__item-icon,
.contact-info .mdl-list__item-icon.material-icons {
	1font-size: 48px;
	color: #17FF3F;
}

.contact-info ul {
	padding: 0;
	margin: auto;
}

.more-info {
	max-width: 40ch;
	margin: auto;
	margin-right: auto;
	text-align: center;
}

.survey-button {
	text-align: center;
}

.survey-button .mdl-button {
	background-color: #17FF3F;
}

.mdl-mini-footer {
	border-top: 4px dashed white;
	background-color: #1a1a1a;
}